<div class="container text-center mt-5">
  <h1>Welcome to the Quiz App!</h1>
  <input type="text" id="username" placeholder="Enter your name" class="form-control my-3">
  <button onclick="loadQuiz(1)">Computer Science History</button>
  <button onclick="loadQuiz(2)">Guess That Programming Language</button>
</div>
