/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc; /* Beige background */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  #app {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4CAF50;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }
  
  /* Buttons */
  button {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(1);
  }
  
  /* Quiz Question Styling */
  .quiz-question {
    background-color: #e8f5e9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .quiz-question p {
    font-size: 20px;
    color: #333;
  }
  
  .quiz-feedback {
    font-size: 18px;
    color: #d32f2f;
    margin-top: 10px;
  }
  
  button#next-button {
    background-color: #2196F3;
    margin-top: 15px;
  }
  
  button#next-button:hover {
    background-color: #1976D2;
  }
  
  .quiz-end {
    background-color: #f1f8e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Centering everything */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for "Got it" button in case of wrong answer */
  button#got-it-button {
    background-color: #FFC107;
  }
  
  button#got-it-button:hover {
    background-color: #FFB300;
  }
  
  /* Animations for feedback */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .feedback {
    animation: fade-in 1s ease;
  }
  
  #timer {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }